.b-drop .dropdown-menu, .b-drop #cart-items {
    transform: translateX(-265px) !important;
}

.index-owl-nav button.owl-next, .owl-nav button.owl-next{
    right: 0 !important;
    left: inherit !important;
  }
  .index-owl-nav button.owl-prev, .owl-nav button.owl-prev{
    left: 0 !important;
    right: inherit !important;
  }