@import url(fonts.css);

html , body {
  font-family: 'VazirThin', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

.font-x-s{
  font-size: .75rem !important;
}

.orange{
  background-color: #ff5d00;
}

.nav-hover:hover{
  background-color: #e8ecef;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}

.dropdown-toggle::after{
  content: none;
}

.b-drop{
  width: 35px;
}

.b-drop:hover{
    background: #e8ecef;
}

.b-drop .dropdown-menu{
  width: 250px;
  background: #e8ecef;
  transform: translateX(215px);
}

.b-animate a:after {
  display: block;
  margin: auto;
  height: 2px;
    content: "";
    transition: border .15s ease-in-out;
}

.b-dark a:hover:after {
  background: #1a1a1a;
}

.b-light a:hover:after {
  width: 100%;
  background: #fff;
}

.cat a{
  width: fit-content;
margin-bottom: 8px;
text-decoration: none;
color: #202529;
}


.menu .megamenu{ padding: 1rem; }
/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .menu .has-megamenu{position:static!important;}
  .menu .megamenu{left:0; right:0; width:100%; margin-top:0;  }


  .menu .dropdown-menu-end{ right:0; left: auto;  }
	.menu .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.menu .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.menu .dropdown-menu.fade-up{ top:180%;  }
	.menu .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }

}	
/* ============ desktop view .end// ============ */

.cat-offcanvas .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--bs-dark-text) !important;
  background-color: var(--bs-body-bg);
  font-weight: bold;
  border-bottom: 2px solid;
}

